body {
  width: 100vw;
  height: 100vh;
}

/*--SLIDE OUT--*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  /*overflow-y: scroll;*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/*--DESLIZAME--*/
.deslizame {
  line-height: 19px;
  display: inline-block;
  background: #343a40;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  position: relative;
  left: 50px;
  animation: pulse 2s infinite;
}
.deslizame:before {
  content: '';
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #343a40;
  position: absolute;
  top: 50%;
  left: -5px;
  margin-top: -6px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(150, 150, 150, 1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(150, 150, 150, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(150,150,150, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(150,150,150, 1);
    box-shadow: 0 0 0 0 rgba(150,150,150, 1);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(150,150,150, 0);
    box-shadow: 0 0 0 10px rgba(150,150,150, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(150,150,150, 0);
    box-shadow: 0 0 0 0 rgba(150,150,150, 0);
  }
}

/**/
#panel{
  background-color: rgba(255,255,255,1);
}
.btn{
  border-radius:0px;
}
.clear{
  content:"";
  height: 50px;
}